services:
  kafka:
    extends:
      service: kafka
      file: Kafka/compose.yaml
    env_file:
      - .env
    environment:
      - KAFKA_TOPIC_LOGS=${KAFKA_TOPIC_LOGS}
      - KAFKA_TOPIC_ALERTS=${KAFKA_TOPIC_ALERTS}
    post_start:
      - command: /bin/sh -c "/opt/kafka/bin/kafka-topics.sh --create --topic $KAFKA_TOPIC_LOGS --bootstrap-server localhost:9092"
      - command: /bin/sh -c "/opt/kafka/bin/kafka-topics.sh --create --topic $KAFKA_TOPIC_ALERTS --bootstrap-server localhost:9092"
  ingestion_api:
    build:
      context: ../src/IngestionAPI
    depends_on:
      - kafka
    env_file:
      - .env
    ports:
      - 8081:8081
  policy_engine:
    build:
      context: ../src/PolicyEngine
    env_file:
      - .env
  data_storage_worker:
    build:
      context: ../src/DataStorageService
    env_file:
      - .env
    depends_on:
      kafka:
        condition: service_healthy
  actions_engine:
    build:
      context: ../src/ActionsEngine
    env_file:
      - .env
    depends_on:
      kafka:
        condition: service_healthy
      policy_engine:
        condition: service_started